@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@layer components {
  .activebar {
    @apply bg-sidebaractive border-l-4 border-primary;
  }

  .postcard {
    @apply bg-white shadow-lg rounded-lg px-10 py-4;
  }

  .card {
    @apply bg-white shadow-lg rounded-lg px-6 py-4;
  }

  .readmore {
    @apply max-h-52
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
